@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/lists.css");

body{
	font-family: 'Lora', serif;
	font-size: 12px;
	margin: 0px 0px;
}


h1,h2,h3, a{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

a{
	text-decoration: none;
	flex-wrap: wrap;
  font-size: 13px;
}

h1{
 font-family: 'Happy Monkey', cursive;
}

h2{
  font-size: 20px;
}



