#sommaire{
    margin-top: 7px;
    margin-right:40px;
}

.cards{
	display: flex;
    flex-wrap: wrap;
}

.card{
    box-shadow: 5px 5px 20px rgb(200,200,200);
    padding: 10px 10px;
    border-radius: 4px;
    margin: 10px auto;
    width: 15%;
    align-items:center;
    text-align: center;
    box-sizing: border-box;
}

.card h3{
	text-align: center;
    padding: 0px auto;
    font-size: 14px;
}

.card p{
	margin-bottom: 30px;
}


.smallcard{
  color: white;
  padding: 10px 5%;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rbv(200,200,200);
  font-size: 11px;
  text-align: left;
  display: block;
  margin: 5px auto;

}

.smallcard a{
    color: white;
}


#addcard {
    background-color: rgb(230,230,230);
    align-content: center;

}

#addcard a{
    font-size: 11px;
    color: rgb(150,150,150);
}

#addcard i{
    font-size: 14px;
    color: rgb(150,150,150);
}



#leadcard{
    background-color: #63b7af;
}

#leadcard:hover{
  background-color: #347474;
}

#coldleadcard{
    background-color: #ffc2c2;
}

#coldleadcard:hover{
    background-color: #ff9d9d;
}

#hotleadcard{
    background-color: #0c7b93;
}

#hotleadcard:hover{
    background-color: #27496d;
}

#signedcard{
    background-color: #71a95a;
}

#signedcard:hover{
    background-color: #007944;
}

#resignedcard{
    background-color: #c02739;
}

#resignedcard:hover{
    background-color: #84142d;
}





